.wrap {
  text-align: center;
}

.wrap div {
  vertical-align: top;
  display: inline-block;
  width: 150px;
  max-width: 150px;
  height: 150px;
  max-height: 150px;
  text-align: center;
  font-size: 130px;
  font-family: Helvetica, sans-serif;
  margin-left: -4px;
  margin-top: -4px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

#x1y1,#x2y1,#x3y1,#x1y2,#x2y2,#x3y2 {
  border-bottom: 5px solid black;
}

#x1y1,#x2y1,#x1y2,#x2y2,#x1y3,#x2y3 {
  border-right: 5px solid black;
}

#x1y2,#x2y2,#x3y2,#x1y3,#x2y3,#x3y3 {
  border-top: 5px solid black;
}
